.botao {
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  line-height:120%;
  padding: 8px 16px;
  background: #17d9b1;
  border-radius: 8px;
  border: none;
}

.botao:hover {
  opacity: 0.8;
  cursor: pointer;
}
